<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Node.js upload & resize multiple files</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        div.preview-images > img {
            width: 30%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8 mt-3">
            <h4>Node.js upload & resize multiple files - bezkoder.com</h4>
            <form class="mt-4" id="userform">
                <input type="hidden"
                       id="tokenField"
                       value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjIsImlhdCI6MTY1Njk0NDc3OSwiZXhwIjoxNjU3MDMxMTc5fQ.MoCWLPckcUIMXx2kRd_a02herZUcT3QBCqm8d80dhIY"/>

                First name: <input type="text"
                        name="firstname"
                        id="firstname"
                        class="form-control-file border"
                />

                Last name: <input type="text"
                                 name="lastname"
                                 id="lastname"
                                 class="form-control-file border"
                />

                Email: <input type="email"
                                name="email"
                                id="email"
                                class="form-control-file border"
                />

                Password: <input type="password"
                              name="password"
                              id="password"
                              class="form-control-file border"
                />

                Files: <input
                        type="file"
                        name="images"
                        multiple
                        id="input-images"
                        class="form-control-file border"
                />
                <button type="button" id="submitButton" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="preview-images"></div>
        </div>
    </div>
</div>
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>

    $('#submitButton').on('click',function(){
        console.log('click!!');
        let data = {
            first_name: $('#firstname').val(),
            last_name: $('#lastname').val(),
            email: $('#email').val(),
            password: $('#password').val(),
            files: $('#input-images').val()
        };
        var ajxReq = $.ajax({
            url: "http://localhost:3000/api/create/users_user",
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            headers: {
                "Accepts": "text/plain; charset=utf-8",
                "Authorization": "My_Private_Key " + $('#tokenField').val()
            },
            async: false
        });
        console.log(ajxReq);
    });
</script>
</body>
</html>